.first {
  color:red;
}

.second{
  color:blue;
}

body {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/34/cf/ee/34cfee0fe9a47891a8d19b8ae9a05fa5.jpg")
}
